/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
}
body {  
  background: #92bde7;
  color: #485e74;
  font-family: sans-serif; 
  font-size: small;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 1em
}


.pending-list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
 grid-template-areas: 
 "search"
 "record-selction"
 "records"
 "record-selection-info"
 "pagination";
  background-color: #2196F3;
}

.record-selction{
    background: rgb(211, 136, 211);
    grid-area: record-selction;
    display: grid;
    justify-content: center;
    align-items: center;
}
.search{
  grid-area: search;
  background: rgb(76, 233, 180);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: start;
}
.search input{
  width: 100%;
  padding: 0.50em;
  border: 1px solid #566c2b;
  border-radius: 0.20rem;
}

.records{
  grid-area: records;
  background: rgb(147, 243, 22);
  display: grid;
  justify-content: center;
  align-items: center;
}
.record-selection-info{
  grid-area: record-selection-info; 
  background: rgb(200, 181, 231);
  display: grid;
  justify-content: center;
  align-items: center;
}
.pagination{
  grid-area: pagination;
  background: rgb(224, 53, 53);
  display: grid;
  justify-content: center;
  align-items: center;
}

.record-selction> p{
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: start;
  align-items: start;
}
.record-selction > p >*{
  padding: 5px;
}
.record-selction  p select{
  width: 100%;
  padding: 0.50em;
  border: 1px solid #566c2b;
  border-radius: 0.20rem;
}

/* pagination css  */

.pagination {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: start;
  align-items: start;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}


@media (min-width: 600px) {
  .pending-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "record-selction        search"
      "records                records"
      "record-selection-info  pagination";
      align-items: center;
   }

   .pagination , .search{
    justify-content: end;
    align-items: center;
   }
   .record-selction , .record-selection-info{
    justify-content: start;
    align-items: center;
   }

   .search > p{
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
   padding-bottom: 0px;
  }

  .search  p input{
   width: 200px;
  }
  .record-selction> p{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .pagination {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
  

  /* web table-data */
  

}